<!--suppress ALL -->
<script>
    function moreSite(_id){
        $.ajax({
            type: "POST",
            url: './searchMore',
            data: {
                q: _id
            },
            success: function (data) {
                var result = data.contents;
                for(var i=1;i<result.length;i++){
                    var url = result[i].fields.url;
                    $("#searchMore").append(""
                            +"<div class='col-lg-12' style='padding-bottom:30px;'>"
                            +"<h5><img src='http://www.google.com/s2/favicons?domain="+result[i].fields.host+"'>"+ result[i].fields.host +"</h5>"
                            +"<a href='#' rel='nofollow' onclick=getSiteMove("+ "'"+url+"'"+");>"
                            +"<h3>"+result[i].fields.title+"</h3></a><p>"
                            +"<span>"+result[i].fields.content.toString().substring(0, 200) +"</span></p></div>"
                    );
                }

            }
        });
    }
    $("document").ready(function(){
        var mSite = "<%= contents[0].fields.title %>";
        if(mSite != "") {
            moreSite(mSite);
        }
    });
</script>



<div class="row marketing">
    <% if(total > 0){ %>
    <% for(var i = 0; i < contents.length; i++) { %>
    <div class="col-lg-12" style=" padding-bottom:30px;">
        <h5>
            <img src=" http://www.google.com/s2/favicons?domain=<%= contents[i].fields.host %>"> <%= contents[i].fields.host %>
        </h5>
        <a href="#" rel="nofollow" onclick="getSiteMove('<%= contents[i].fields.url %>')">
            <h3><%= contents[i].fields.title %> %></h3>
        </a>
        <p>
      <span content="searchContent<%= i %>">
        <%= contents[i].fields.content.toString().substring(0, 200) %>
      </span>
        </p>
    </div>
    <% } %>
    <% }else{ %>
    <div class="col-lg-12">
        <p><span>Sorry.No keyword contents.</span></p>
    </div>
    <% } %>
</div>




<div class="row marketing">
    <div id="searchMore">

    </div>
</div>




<div class="footer-social">
    <!-- facebook -->
    <a class="btn btn-social-icon btn-lg btn-facebook" href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='
+encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog',
 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank"
       alt="Share on Facebook"><span class="fa fa-facebook"></span></a>
    <!-- tweet -->
    <a class="btn btn-social-icon btn-lg btn-twitter" href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog',
 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank"
       alt="Share on Twitter"><span class="fa fa-twitter"></span></a>
    <!-- google+ -->
    <a class="btn btn-social-icon btn-lg btn-google" href="#" onclick="javascript:window.open('https://plus.google.com/share?url='+encodeURIComponent(),
     'googleplussharedialog','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=600');return false;"
       target="_blank" alt="Share on Google+"><i class="fa fa-google"></i></a>
</div>


